.vscode/**
.vscode-test/**
.git/**
.github/**
.claude/**
.codex/**
.agents/**
.docs/**
samples/**
src/**
AGENTS.md
CLAUDE.md
**/*-mii-air.*
**/*.ts
**/*.mts
**/*.map
node_modules/**
esbuild.js
eslint.config.mjs
tsconfig.json
.gitignore
**/.DS_Store
